.cantidad {
  display: flex;
}

.cantidad input {
  padding: 2px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 0px 2px 0px 2px;
}

.cantidad button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
