<h1 class="text-center mt-5">Mas informacion a cerca de nuestros productos</h1>
<div>
  <div class="product">
    <img width="150" class="img-thumbnail" src=".https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/tradicional.png?raw=true" alt="canarias">
    <h2 class="text-center"><span>REI VERDE EXPORT</span> Tradicional</h2>
    <p>Yerba mate con la mayor proporción de hoja nativa y un adecuado equilibrio entre polvo y palo. Producto 100% natural sin agregados artificiales de conservantes ni otros productos químicos, por lo que en ocasiones pueden presentarse leves variaciones en el sabor a lo largo del año. </p>
    <h3> Rendimiento</h3>
    <p>Por las propiedades de su composición, este producto ofrece al consumidor una alta duración de sabor durante su consumo.
        Para obtener este rendimiento es importante tener en cuenta los consejos para preparar un mate.
    </p>
  </div>

  <div class="product">
    <img width="150" class="img-thumbnail" src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/premiumpng?raw=true" alt="canarias">
    <h2 class="text-center"><span>REI VERDE EXPORT</span> Premium</h2>
    <p>Yerba mate con la mayor proporción de hoja nativa y un adecuado equilibrio entre polvo y palo. Producto 100% natural sin agregados artificiales de conservantes ni otros productos químicos, por lo que en ocasiones pueden presentarse leves variaciones en el sabor a lo largo del año. </p>
    <h3> Rendimiento</h3>
    <p>Por las propiedades de su composición, este producto ofrece al consumidor una alta duración de sabor durante su consumo.
        Para obtener este rendimiento es importante tener en cuenta los consejos para preparar un mate.
    </p>
  </div>

  <div class="product">
    <img width="150" class="img-thumbnail" src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/compuesta.png?raw=true" alt="canarias">
    <h2 class="text-center"><span>REI VERDE EXPORT</span> Compuesta</h2>
    <p>Yerba mate con la mayor proporción de hoja nativa y un adecuado equilibrio entre polvo y palo. Producto 100% natural sin agregados artificiales de conservantes ni otros productos químicos, por lo que en ocasiones pueden presentarse leves variaciones en el sabor a lo largo del año. </p>
    <h3> Rendimiento</h3>
    <p>Por las propiedades de su composición, este producto ofrece al consumidor una alta duración de sabor durante su consumo.
        Para obtener este rendimiento es importante tener en cuenta los consejos para preparar un mate.
    </p>
  </div>

  <div class="product">
    <img width="150" class="img-thumbnail" src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/classica.png?raw=true" alt="canarias">
    <h2 class="text-center"><span>REI VERDE EXPORT</span> Classica</h2>
    <p>Yerba mate con la mayor proporción de hoja nativa y un adecuado equilibrio entre polvo y palo. Producto 100% natural sin agregados artificiales de conservantes ni otros productos químicos, por lo que en ocasiones pueden presentarse leves variaciones en el sabor a lo largo del año. </p>
    <h3> Rendimiento</h3>
    <p>Por las propiedades de su composición, este producto ofrece al consumidor una alta duración de sabor durante su consumo.
        Para obtener este rendimiento es importante tener en cuenta los consejos para preparar un mate.
    </p>
  </div>

  <div class="product">
    <img width="150" class="img-thumbnail" src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/padron-arg.png?raw=true" alt="canarias">
    <h2 class="text-center"><span>REI VERDE EXPORT</span> Padron Argentino</h2>
    <p>Yerba mate con la mayor proporción de hoja nativa y un adecuado equilibrio entre polvo y palo. Producto 100% natural sin agregados artificiales de conservantes ni otros productos químicos, por lo que en ocasiones pueden presentarse leves variaciones en el sabor a lo largo del año. </p>
    <h3> Rendimiento</h3>
    <p>Por las propiedades de su composición, este producto ofrece al consumidor una alta duración de sabor durante su consumo.
        Para obtener este rendimiento es importante tener en cuenta los consejos para preparar un mate.
    </p>
  </div>

  <div class="product">
    <img width="150" class="img-thumbnail" src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/canarias.png?raw=true" alt="canarias">
    <h2 class="text-center">Canarias</h2>
    <p>Yerba mate con la mayor proporción de hoja nativa y un adecuado equilibrio entre polvo y palo. Producto 100% natural sin agregados artificiales de conservantes ni otros productos químicos, por lo que en ocasiones pueden presentarse leves variaciones en el sabor a lo largo del año. </p>
    <h3> Rendimiento</h3>
    <p>Por las propiedades de su composición, este producto ofrece al consumidor una alta duración de sabor durante su consumo.
        Para obtener este rendimiento es importante tener en cuenta los consejos para preparar un mate.
    </p>
  </div>


</div>

