.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p{
  margin: 5px;
  padding: 10px;
  color: #ffffdd;
}


h1, h2, h3 {
  color: #ffffdd;
}

img {
  width: 150px;
  margin-left: 10px;
}

.desc, .perf {
  width: 40%;
  padding: 20px;
}

.info {
  padding: 40px;
  margin: 0px 100px 0px 100px;
}

.info div {
  background-color: #e25858;
  border-radius: 50px;
  margin-top: 20px;
}
