<div class="col-4" id="cart">
  <app-shopping-cart></app-shopping-cart>
</div>
<h1 class="text-center mt-5">Mas informacion a cerca de nuestros productos</h1>
<div class="info">
  <div class="product" *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.type">
    <div class="text-center desc mt-1">
      <p>{{product.brand}}</p>
      <h2 class="text-center">{{product.type}}</h2>
      <p>{{product.description}}</p>
    </div>
    <div class="perf">
      <h3 class="text-center"> Rendimiento</h3>
      <p class="text-center">{{product.perfomance}}</p>
    </div>
  </div>
</div>
