.offcanvas {
  background-color: #e25858;
  color: white;
}

ul {
    list-style: none;
    width: 100%;
    padding-left: 0.3125rem;
}

li {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

