<h1 class="text-center mt-3 mb-3">Tus productos elegidos</h1>
<div class="container d-flex justify-content-center" id="shopping-cart">
  <div id="items" >
      <ul>
        <li *ngFor="let p of (shopCart$ | async)">
          <img class="img-thumbnail"src="{{p.image}}">
          {{p.type}} : {{p.quantity}} un.
          <button class="btn btn-danger" (click)="deleteP(p)">x</button>
        </li>
      </ul>
      <hr>
      <!-- Precio total -->
      <p class="text-right">Total: </p>
      <button id="boton-vaciar" (click)="empty()" class="btn btn-danger">Vaciar</button>
  </div>
</div>
