<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h1 class="text-center mt-3 mb-3">Tus productos elegidos</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div  id="shopping-cart">
      <div id="items" >
        <ul>
            <li class="mb-2" *ngFor="let p of (shopCart$ | async)">
              <img  width="35" class="img-thumbnail"src="{{p.image}}">
              {{p.type}} : {{p.quantity}} un.
              <button class="btn btn-danger"  (click)="deleteProduct(p)">x</button>
            </li>
          </ul>
          <hr>
          <p class="text-right">Total carrito: $ {{getTotal()}}</p>
          <button id="boton-vaciar" (click)="cartEmpty()" class="btn btn-danger">Vaciar</button>
      </div>
    </div>
  </div>
</div>
