#shopping-cart{
    background-color: #FBFBFA;
    border-radius: 10px;
    width: 500px;
    margin: 0px;
}

ul {
    list-style: none;
    width: 100%;
}

li {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

img {
  width: 35px;
}

img, button {
  margin: 10px;
}

