footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  background-color: #e25858;
  padding: 1.25rem;
  margin-top: 1.25rem;
}

footer p {
  margin: 0rem;
  color:#ffffdd;
}

nav {
  background-color: #384252;
}

nav .navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: 3.125rem;
    color: #ffffdd;
}

.nav-link {
  color: white;
}

#logo {
    width: 2.5rem;
}

#btn {
  background-color: #e25858;
  margin: 5px;
  height: 40px;
  width: 60px;
  padding: 4px;
}




