<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <img src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/logo.png?raw=true" alt="logo" id="logo">
      <a class="navbar-brand" [routerLink]="['/products']">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-center">
        <a class="nav-link" [routerLink]="['/products']">Home</a>
        <a class="nav-link" [routerLink]="['/information']">Mas informacion</a>
        <a class="nav-link" [routerLink]="['/about']">Contacto</a>
      </div>
    </div>
    <div class="row">
      <button id="btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button id="btn" class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <img width="25"src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/carros.png?raw=true" alt="carrito">
      </button>
    </div>
  </div>
</nav>

<div>
    <router-outlet></router-outlet>
</div>

<footer>
    <p>© Copyright {{title}} - 2022 - Todos los derechos reservados.</p>
</footer>
