<h1 class="text-center mt-5 mb-5">Contactanos en nuestras redes sociales</h1>
<div class="container">
  <div class="social">
    <div>
      <img src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/instagram.png?raw=true" alt="instagram">
      <p>@mateandoOK</p>
    </div>
    <div>
      <img src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/facebook.png?raw=true" alt="facebook">
      <p>Mateando Productos</p>
    </div>
    <div>
      <img src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/gmail.png?raw=true" alt="mail">
      <p>mateando@gmai.com</p>
    </div>
  </div>
</div>

