<h1 class="text-center mt-5">Contactanos en nuestras redes sociales</h1>
<div class="container">
  <div class="social mt-5">
    <img src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/instagram.png?raw=true" alt="instagram">
    <p>Instragram:</p>
    <img src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/facebook.png?raw=true" alt="facebook">
    <p>Facebook: </p>
    <img src="https://github.com/victoriacubam/seminario-angular-mateando2022/blob/master/src/assets/img/mail.png?raw=true" alt="mail">
    <p>Email: </p>
  </div>
</div>

