.container {
  background-color: #e25858;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

img {
  width: 60px;
  margin: 5px;
}


.social div {
  display: flex;
  align-items: center;
  margin: 30px;
}

.social div p {
  margin: 0px 0px 0px 10px;
  color: #ffffdd;
  font-weight: bold;
  font-size: xx-large;
}
