<h1 class="text-center mt-3 mb-3">Nuestra variedad de yerbas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="oculto"></th>
            <th scope="col" class="text-center">Tipo</th>
            <th class="text-center oculto">Sabor</th>
            <th class="text-center oculto">Peso</th>
            <th class="text-center">Precio</th>
            <th hidden class="oculto">Stock</th>
            <th hidden>Cantidad</th>
            <th hidden>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'sale': product.sale && product.stock!=0}">
            <td class="oculto"><img [src]="product.image" [alt]="product.type"></td>
            <td class="text-center">{{product.type | uppercase}}</td>
            <td class="oculto">{{product.taste}}</td>
            <td class="oculto">{{product.weight}}<span>gr</span></td>
            <td>{{product.price | currency}}</td>
            <td class="oculto">
              <span class="badge text-bg-warning" *ngIf="product.stock==0">Sin stock</span>
              <span class="badge text-bg-success" *ngIf="product.stock!=0 && product.sale">15% OFF</span>
            </td>
            <td>
              <app-input-quantity [(quantity)]="product.quantity" [max]="product.stock" (maxReached)="maxReached($event)" *ngIf="product.stock"></app-input-quantity>
            </td>
            <td>
              <input class="btn btn-primary" (click)="addToCart(product)" type="submit" value="Agregar al carrito" *ngIf="product.stock!=0 else elseBlock">
              <ng-template #elseBlock>
                <input class="btn btn-primary" type="submit" value="Agregar al carrito" disabled>
              </ng-template>
            </td>
        </tr>
    </tbody>
</table>

<!-- data-bs-toggle="modal" data-bs-target="#staticBackdrop" -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">No hay stock</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        No contamos con el stock suficiente para
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->
