img {
    width: 4rem;
}

.sale {
  background-color: #ff8888;
  color:#ffffdd;
  font-weight: bold;
}

table {
  background-color:#ffffdd;
  border-radius: 10px;
}

.btn {
  background-color: #e25858;
  color: white;
  font-weight: bold;
}

