img {
    width: 4rem;
}

.sale {
    background-color: rgb(189, 255, 189);
    color:rgb(8, 80, 8);
    font-weight: bold;
}

table {
    background-color: rgb(242, 233, 255);
    border-radius: 10px;
}

