/* You can add global styles to this file, and also import other style files */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: #e25858;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  margin: 0px;
  color:#ffffdd;
}


nav {
  background-color: #384252;
}

nav .navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #ffffdd;
}

.nav-link {
  color: white;
}

#logo {
    width: 40px;
}

.container {
    font-family:'Raleway', sans-serif;
}

h1 {
    color:#ffffdd;
    font-size: xx-large;
}

body {
  background-color: #384252;
}
